//テーマカラーの設定
$primary:       #0dfd55;
$secondary:     #6c757d;
$success:       #1d1987;
$info:          #0dcaf0;
$warning:       #ff077b;
$danger:        #cb35dc;
$light:         #f8f9fa;
$dark:          #212529;

@import "../node_modules/bootstrap/scss/bootstrap";